<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="js/myscript.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyCtrl">
    <div class="container">
        <div class="jumbotron py-1">
            <img src="/img/covid.jpg" class="rounded mx-auto d-block" alt="Response image" style="width: 300px; height: 200px; ">
            <h1 class="text-center">{{title}}</h1>
            <p class=" h7 pt-3 text-justify" style="font-family: Arial, Helvetica, sans-serif;">
                Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
                Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.
                You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.
                 
            </p>
            <div class="text-center mb-3">
            <strong><span class="text-danger ">Precaution:</span> <span>Wear a mask, Save lives, Wear a face cover, Wash your hands, Keep a safe distance.</span></strong>
            </div>
         <!---all data --->
         <div class="row text-center">
             <div class="col-md-4">
             <div class="card bg-warning text-white h-90">
                 <div class="card-body">
                     <h6>Confirmed Cases</h6>
                     <h6>{{all_data.confirmed.value}}</h6>
                 </div>
             </div>
             </div>
             <div class="col-md-4">
                <div class="card bg-success text-white h-90">
                    <div class="card-body">
                        <h6>Recovered Cases</h6>
                        <h6>{{all_data.recovered.value}}</h6>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="card bg-danger text-white h-90">
                    <div class="card-body">
                        <h6>Death Cases</h6>
                        <h6>{{all_data.deaths.value}}</h6>
                    </div>
                </div>
             </div>
         </div>

         <!----End data-->
         <input type="text" class="form-control mt-4" placeholder="Enter the country here" ng-model="c" ng-change="get_c_data()"  / >
         
         <!----c data------>
         <div class="container-fluid" ng-if="c_data">
         <h3 class="text-center mt-4 text-uppercase">{{c}} status</h3>
         <div class="row text-center mt-4">
            <div class="col-md-4">
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <h3>Confirmed Cases</h3>
                    <h3>{{c_data.confirmed.value}}</h3>
                </div>
            </div>
            </div>
            <div class="col-md-4">
               <div class="card bg-success text-white">
                   <div class="card-body">
                       <h3>Recovered Cases</h3>
                       <h3>{{c_data.recovered.value}}</h3>
                   </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card bg-danger text-white">
                   <div class="card-body">
                       <h3>Death Cases</h3>
                       <h3>{{c_data.deaths.value}}</h3>
                   </div>
               </div>
            </div>
        </div>
         </div>
         <!--c data End-->

        </div>
    </div>
</body>
</html>
